.notfound {
    min-height: 100vh;
    background: url("https://i.ibb.co/0FrHvnx/404-Pages-1112x556.jpg") no-repeat
        center fixed;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
}
.notfound-box {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
}
