.card {
    background: #00000045;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid rgb(52, 52, 52);
}

.card img {
    width: 100%;
    margin: auto;
}

.card-title {
    color: rgb(233, 233, 233);
}

.description {
    color: rgb(187, 157, 133);
}

.btn-manage {
    background: transparent;
    color: white;
    border: 2px solid #dfe2e9;
}

.btn-manage:hover {
    color: rgb(255, 247, 230);
    text-shadow: 0px 0px 8px rgb(254, 252, 249);
    box-shadow: 0px 0px 5px rgb(237, 232, 222);
}
